html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
#box {
    display: table;
    background-color: lightsteelblue;
    width: 1000px;
    margin: 0 auto;
    border-radius: 70px;
}

#img_left {
    display: table-cell;
    border-radius: 25%;
    width: 300px;
    vertical-align: middle;
    margin: 0px;
}
#img_right {
    display: table-cell;
    border-radius: 25%;
    width: 300px;
    vertical-align: middle;
    margin: 0px;
    margin-left: 140px
}
span {
    margin: 300px;
    vertical-align: middle;
    text-align: left;
    display: table-cell;
}
p{
    font-size:22px
}
#caption{
    text-align: center;
    font-size: 30px
}
#repairInformationArea{
    margin:10px;
    padding: 10px;
}