@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>PC-Service website</h4>

    <div id="box">
        <span> <img id="img_left" src="/images/main.jpg" /></span>
        <span>
            <ul>
                <li><p>We are one of the best services in Chicago city</p></li>
                <li><p>We are using only orignal recomeneded by producers parts.</p></li>
                <li><p>Over <b>1 000 000 clients</b> trusted us.</p></li>
                <li> <p>Join today to our community!</p></li>
            </ul>


        </span>
    </div>
    <br />
    <div id="box">

        <span>
            <b>
            <p id="caption">What next?</p>
            </b>
            <ul>
                <li><p>You can create an account <a href="/register">here</a> </p></li>
                <li><p>Check a repair status without singing in <a href="/Repairs/Search">here</a></p></li>
                <li><p>If you are already our client you can report a repair <a href="/Repairs/Search">here</a></p></li>
            </ul>

        </span>
        <span> <img id="img_right" src="/images/main2.jpg" /></span>
    </div>
</div>
